.hero {
  z-index: 4;
}
.hero__content {
  /*height: 600px;
  display: grid;
  grid-template: 1fr / 525px 1fr;
  position: relative;*/
  height: 100vh;
  padding-bottom: calc(100vh - 600px);
  box-sizing: border-box;
  display: grid;
  grid-template: 1fr / 525px 1fr;
  position: relative;
  overflow: hidden;
}
.hero__look {
  position: absolute;
  left: 430px;
  top: 100px;
  width: 700px;
}
.hero__look img {
  width: 100%;
}
.hero__social {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  bottom: 0;
  bottom: calc(100vh - 600px);
  left: 0;
  z-index: 6;
}
.hero__social li {
  margin-bottom: 45px;
}
.hero__social li:last-child {
  margin: 0;
}
.hero__social li a {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  color: var(--white);
  opacity: 0.6;
}
.hero__social li a:hover {
  opacity: 1;
}
.hero__detail {
  padding-left: 120px;
  padding-bottom: 50px;
  box-sizing: border-box;
  align-self: end;
  z-index: 2;
}
.hero__title {
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  margin: 0 0 20px;
}
.hero__description {
  font-size: 16px;
  line-height: 25px;
  opacity: 0.8;
  margin-bottom: 45px;
}

.hero__dots {
  position: absolute;
  right: 0;
  bottom: 85px;
  bottom: calc(100vh - 515px);
}
.hero__dot {
  opacity: 0.4;
  cursor: pointer;
}
.hero__dot:hover,
.hero__dot.hero__dot--active {
  opacity: 1;
}
.hero__dot--number {
  font-size: 12px;
  line-height: 12px;
  font-family: 'Montserrat', sans-serif;
}
.hero__dot--bar {
  width: 2px;
  height: 100px;
  background-color: var(--white);
  margin: 0 auto;
}